.cdk-menu {
    background-color: var(--color-surface);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

    display: flex;
    flex-direction: column;
    min-width: 164px;
    padding: var(--space-xs) 0;
}

.cdk-menu .button {
    text-align: left;
    justify-content: left;
    border-radius: 0;
}

.cdk-menu .button:last-child {
    border-bottom: none;
}

.cdk-menu-item:hover {
    background-color: var(--color-border);
}